In [1]:
import numpy as np
import pandas as pd

In [3]:
sales = [0, 5, 155, 0, 518, 9, 1827, 616, 317, 325]
sales_series = pd.Series(sales, name='Sales')
sales_series

0       0
1       5
2     155
3       0
4     518
5       9
6    1827
7     616
8     317
9     325
Name: Sales, dtype: int64

## Panda Series properties:
- values
- index
- name
- dtype

In [4]:
sales_series.values

array([   0,    5,  155,    0,  518,    9, 1827,  616,  317,  325])

In [5]:
sales_series.index

RangeIndex(start=0, stop=10, step=1)

In [6]:
sales_series.name

'Sales'

In [7]:
sales_series.dtype

dtype('int64')

In [8]:
sales_series.astype('bool')

0    False
1     True
2     True
3    False
4     True
5     True
6     True
7     True
8     True
9     True
Name: Sales, dtype: bool

In [9]:
sales_series.astype('float')

0       0.0
1       5.0
2     155.0
3       0.0
4     518.0
5       9.0
6    1827.0
7     616.0
8     317.0
9     325.0
Name: Sales, dtype: float64

In [11]:
# create a Dataframe from the oil file, drop missing values
oil = pd.read_csv('./oil.csv').dropna()
# pd.to_csv

# Grab 100 rows of oil prices
oil_array = np.array(oil['dcoilwtico'].iloc[1000:1100])

oil_array

array([52.22, 51.44, 51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36,
       53.26, 53.77, 53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45,
       51.12, 51.39, 52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63,
       52.75, 53.9 , 53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84,
       52.96, 53.21, 53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99,
       54.04, 54.  , 53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75,
       48.05, 47.95, 47.24, 48.34, 48.3 , 48.34, 47.79, 47.02, 47.29,
       47.  , 47.3 , 47.02, 48.36, 49.47, 50.3 , 50.54, 50.25, 50.99,
       51.14, 51.69, 52.25, 53.06, 53.38, 53.12, 53.19, 52.62, 52.46,
       50.49, 50.26, 49.64, 48.9 , 49.22, 49.22, 48.96, 49.31, 48.83,
       47.65, 47.79, 45.55, 46.23, 46.46, 45.84, 47.28, 47.81, 47.83,
       48.86])

In [ ]:
# convert oil_array to a series