# Exercise 1: Getting & Knowing Your Data (chipo)
1. Start by importing the necessary libraries.

In [2]:
import numpy as np
import pandas as pd

2. Retrieve the dataset from this link and assign it to a variable ‘chipo’.

In [50]:
chipo = pd.read_table('./chipotle.tsv')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

3. Display the first 10 rows of ‘chipo’ using the head() function.

In [51]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

4. Determine the total number of entries (rows) in ‘chipo’ using shape or info().

In [52]:
chipo.shape[0]

4622

5. Use shape or columns to find the total number of columns in ‘chipo’.

In [53]:
len(chipo.columns)

5

6. Utilize index to understand how the DataFrame is indexed.

In [54]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

7. Use the value_counts() method on the ‘item_name’ column to find the most ordered item.

In [55]:
chipo['item_name'].loc[chipo.value_counts('item_name').max()]

'Chicken Burrito'

8. Find the total number of items ordered by summing the ‘quantity’ column.

In [56]:
chipo['quantity'].sum()

4972

10. Use value_counts() on ‘choice_description’ to find the most ordered item from this column.

In [37]:
chipo['choice_description'].loc[chipo.value_counts('choice_description').max()]

'[Roasted Chili Corn Salsa (Medium), [Rice, Black Beans, Sour Cream, Guacamole]]'

11. Convert ‘item_price’ to a float datatype using apply() and lambda. (Hint: You’ll need to remove the ‘$’ from the prices first)

In [59]:
prices = chipo['item_price'].apply(lambda x: float(x.strip('$')))
prices

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

12. Calculate the total revenue for the dataset by summing the ‘item_price’ column.

In [60]:
revenue = prices.sum()
revenue

34500.16

13. Find the total number of orders by using the nunique() function on the ‘order_id’ column.

In [46]:
orders_total = chipo['order_id'].nunique()
orders_total

1834

14. Compute the average order value by dividing the total revenue by the number of orders.

In [47]:
revenue / orders_total

18.811428571428575

15. Determine the total number of unique items sold using the nunique() function on the ‘item_name’ column.

In [48]:
chipo['item_name'].nunique()

50

# Exercise 2: Filtering & Sorting (chipo)
1. Use the already created dataframe ‘chipo’ from the previous section.
2. Using conditional selection, find the count of products that cost more than $10. Note: the price is listed in the ‘item_price’ column.

In [63]:
chipo.loc[prices > 10]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25

# Exercise 3: Grouping (users)
1. Import the necessary libraries.
2. Get the dataset from this link and assign it to ‘users’.
3. Use the groupby() function to find the mean age per occupation.